/* General styles */

input {
  font-weight: 300;
}

input::placeholder {
  color: #888888;
}

/* Slider styles */

.interactive-slider {
  position: relative;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  width: 98%;
  margin: 30px auto 0 auto;
}

.interactive-slider input[type=range] {
  width: 94%;
  margin-left: 3%;
  margin-top: 20px;
}

.interactive-slider-name,
.interactive-slider-value {
  position: absolute;
  background-color: #fff;
  top: -22px;
  padding: 0 12px;
  font-size: 1.6rem;
}

.interactive-slider-name {
  left: 20px;
}

.interactive-slider-value {
  right: 20px;
  width: 8rem;
  text-align: right;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}


input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #4d4d4d;
  cursor: pointer;
  background: #fff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin-top: -7px;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #4d4d4d;
  cursor: pointer;
  background: #fff;
  height: 15px;
  width: 15px;
  border-radius: 15px;
}


input[type=range]::-webkit-slider-runnable-track {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #4d4d4d;
}

input[type=range]::-moz-range-track {
  height: 0;
  width: 100%;
  border-bottom: 1px solid #4d4d4d;
}

/* Parameter styles */

.interactive-parameter-section {
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  width: 98%;
  margin: 20px auto 0 auto;
  font-size: 0.8em;
}

.interactive-parameter-row {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0.4em 1em 0.6em 1em;
}

.interactive-parameter-row:last-of-type {
  border-style: none;
  margin-bottom: 0.2em;
}

.interactive-parameter-row label {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 3px;
}

.interactive-parameter-row input[type='number'] {
  width: 100%;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
  padding: 7px;
  font-size: 0.9em;
  outline: none;
  box-shadow: none;
}

.interactive-parameter-row input[type='number']:focus {
  border: 1px solid #0a62ea;
  box-shadow: 0 0 0 1px #0a62ea;
}

.interactive-parameter-row input[type='number']:invalid {
  border: 1px solid #ff6767;
  box-shadow: 0 0 0 1px #ff6767;
}

.interactive-parameter-row input[type='number']::-webkit-outer-spin-button,
.interactive-parameter-row input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.interactive-parameter-row input[type='number'] {
  -moz-appearance: textfield;
}

.interactive-parameter-row button {
  margin: 1em 0 0.5em 0;
}

.interactive-parameter-unit {
  font-size: 0.85em;
  padding-left: 0.3em;
}
